*{
    margin: 0;
    padding: 0;
}
/*..... body..... */
body{
font-family: 'Roboto', sans-serif;
margin: 0 auto;
max-width: 1250px;
}
/* ...1st section.... */
.one{
    background-color: rgb(0, 64, 255);
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;


}
header
{   background-image: url(./images/header-bg.png);
    padding-bottom: 80px;}

.text{
    padding-top: 60px;

}
.hello{
    font-weight: 300;
    font-size: 45px;
    color: #494949;
    padding-bottom: 20px
}
.job{
    color: #FF1F77;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}
.onep{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: #494949;
}
.text a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 15px;
    background-image: linear-gradient(to right, #FF4690, #FF1E76);
}
.image img {
    display: block;
    height: 500px;
    width: 504px;
    
}


/* 2nd section.... */


.two{
    padding-top: 70px;
    margin-top: 70px ;
    display: flex;
    justify-content: space-evenly;
}
.biography{
    height: 500px;
    width: 504px;
    padding-top: 150px;
}
.bio{
    color: #FF1F77;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}
.graph{
    font-weight: 300;
    color: #494949;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 25px;
    font-size: 16px;
    max-width: 500px;
}
.two a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 15px;
    background-image: linear-gradient(to right, #FF4690, #FF1E76);
}
/* 3rd section.... */
.work{
    background-image: url(images/latest-work-bg.png);
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.head{
    text-align: center;
    padding: 50px 0 100px 0;
    font-size: 25px;
    color: #FF1F77;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
}
.im{
    margin: 0;
    display: flex;
    justify-content: space-between;

}
.im img {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

/* ..... */
.box{
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;
}
.sbox{
    background-image: linear-gradient(to right, #ff1e74ea ,#FF4690 );
    width: 800px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 70px 50px;
}
.sbox h6{
    color: rgb(3, 3, 3);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}
.sbox h3{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
